# Security
APP_JWT_SECRET=super_tajne_heslo

# Database
MONGODB_URL=mongodb_connection_string

# Microservices URLs (internal for Docker)
FEATHERS_LOGS_URL=feathers_logs_url
FEATHERS_USERS_URL=feathers_users_url

# Exposed Ports (optional but recommended)
SAILS_PORT=port
MONGO_EXPRESS_PORT=port